# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

app/Controllers/Http/PlanController.js
app/Models/Plan.js
database/migrations/1592660847413_plan_schema.js
